impractical.co {
  gzip
  log / stdout "{when} [{remote}] {method} {scheme} {host} {uri} --> {status} {latency} {size}"
  git github.com/impractical/co {
    path ../
    then hugo
    hook /webhook
  }
  tls paddy@impractical.co
  errors {
    404 404.html
  }
}

www.impractical.co {
  redir https://impractical.co{uri}
}
